:root {
    --color-accent: oklch(65% 50% 0);
}

html {
    accent-color: var(--color-accent);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 1em;
}

/* ── NAV ── */
nav ul,
nav li {
    display: contents;
}

nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
}

/* ── HEADINGS ── */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: 400%;
}

/* ── PROJECTS GRID ── */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects article {
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
}

.projects article h2 {
    margin: 0;
}

.projects article img {
    width: 100%;
}

html {
    color-scheme: light dark;
}

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
}

nav a.current {
    border-bottom-color: var(--border-color);
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}

.color-scheme select {
    font: inherit;
}