:root {
    --color-accent: oklch(65% 50% 0);
    color-scheme: light dark;
}

html {
    accent-color: var(--color-accent);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 1em;
}

/* Nav */
nav ul, nav li {
    display: contents;
}

nav {
    display: flex;
    margin-bottom: 2em;
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 0.1em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: 400%;
}

/* Projects grid */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.projects article {
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
}

.projects article h2 {
    margin: 0;
}

.projects article img {
    width: 100%;
}

/* Contact form */
form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

form label {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

input, textarea, button, select {
    font: inherit;
    box-sizing: border-box;
    width: 100%;
}

button {
    grid-column: 1 / -1;
}

/* Dark mode switch */
.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
}

/* GitHub stats */
#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#profile-stats dt {
    grid-row: 1;
    font-size: 0.8em;
    text-transform: uppercase;
    color: gray;
}

#profile-stats dd {
    grid-row: 2;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}